* {
  margin: 0;
  padding: 0;
}
body {
  background: #11151c;
  color: #fff;
  font-family: 'Poppins',
  sans-serif;
}
.cruds {
  width: 80%;
  margin: auto;
}
.head {
  text-align: center;
  text-transform: uppercase;
  margin: 10px 0;
}
input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  background: #0d0e14;
  margin: 4px 0;
  border-radius: 6px;
  padding: 4px;
  color: #fff;
}
input:focus {
  background: #000;
  transform: scale(1.1);
}
.price input {
  width: 20%;
}
#total {
  background: #650000;
  padding: 5px 4px;
  border-radius: 6px;
}
#total::before {
  content: 'Total: ';
}
button {
  width: 100%;
  height: 30px;
  border: none;
  cursor: pointer;
  background: #140647;
  color: #fff;
  border-radius: 20px;
  transition: 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover {
  background: #200461;
  letter-spacing: 1px;
}
.btnSearch {
  display: flex;
  justify-content: space-between;
}
.btnSearch button {
  width: 45%;
}
table {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
table th {
  text-transform: uppercase;
}
th,td {
  padding: 5px;
}